# Codeowners file, for details see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#about-code-owners

* @govuk-one-login/digital-identity-leads